
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/package_config.json
*.json
.dart_tool/package_config_subset
.flutter-plugins
.flutter-plugins-dependencies
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.dart_tool/flutter_build/da8d64b5daea8c8d8ffabed84cea1f64/.filecache
.dart_tool/flutter_build/da8d64b5daea8c8d8ffabed84cea1f64/app.dill
.dart_tool/flutter_build/da8d64b5daea8c8d8ffabed84cea1f64/debug_android_application.stamp
.dart_tool/flutter_build/da8d64b5daea8c8d8ffabed84cea1f64/flutter_assets.d
.dart_tool/flutter_build/da8d64b5daea8c8d8ffabed84cea1f64/kernel_snapshot.d
.dart_tool/flutter_build/da8d64b5daea8c8d8ffabed84cea1f64/kernel_snapshot.stamp
.flutter-plugins-dependencies
*.dill
*.bin
*.json
*.d
*.txt
*.apk
*.sha1
.dart_tool/flutter_build/da8d64b5daea8c8d8ffabed84cea1f64/.filecache
*.dill
*.stamp
.flutter-plugins-dependencies
*.dill
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/2mrWizhxeWi+Wto58IgVq_GJBMU=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/HKMGz54SZpwvn9zZvgbhmEu2zyo=
*.so
*.xml
*.xcconfig
*.sh
*.iml
*.swift
